pandas
Pillow
tqdm
opencv-contrib-python==4.7.0.68
numpy<2.0.0
pyffx
matplotlib
easyocr
#labelbox # wont work in GCP
#requests # wont work in GCP
torch
torchvision
segmentation-models-pytorch
google-cloud-storage
google-cloud-pubsub
google-cloud-bigquery
pydicom
highdicom
python-bidi
pylibjpeg>=2.0
pylibjpeg-libjpeg>=2.1
git+https://github.com/Poofy1/storage-adapter.git