pandas
Pillow
tqdm
opencv-python
numpy
matplotlib
easyocr
#labelbox
#requests
torch==1.12.1
torchvision==0.13.1
segmentation-models-pytorch
google-cloud-storage
pydicom
highdicom
python-bidi
git+https://github.com/Poofy1/storage-adapter.git