pandas
Pillow
tqdm
opencv-contrib-python==4.7.0.68
numpy<2.0.0
pyffx
matplotlib
easyocr
python-gdcm
#labelbox # wont work in GCP
requests
torch>=1.13.0,<2.1.0
torchvision>=0.14.0,<0.16.0
segmentation-models-pytorch
google-cloud-storage
google-cloud-pubsub
google-cloud-bigquery
pydicom
scikit-learn
fastai
xxhash
highdicom
ultralytics
python-bidi
pylibjpeg>=2.0
pylibjpeg-libjpeg>=2.1
einops
git+https://github.com/Poofy1/storage-adapter.git